<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bad Request</title>
    <link rel="stylesheet" href="assets/style.css">
    <style>
        @import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100&display=swap");
    </style>
</head>

<body>

    <div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h1>Caught a problem!</h1>
			</div>
			<h2>400 - Bad request</h2>
			<a href="/"><p style="text-align: center; color: aliceblue;">Go to Homepage</p></a>
		</div>
	</div>

</body>

</html>